
body {
    background-image: url('images/mybackground.jpg');
}
#header {
    background-color: aqua;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
    text-align: center;
}

#title {
    text-align: center;
}

#find-quotes {
    background: white;
    width: 700px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);  

}

#adding-quotes {
    background-color: white;
    width: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
}

#find-quotes blockquote{
font-size: 26px;
min-height: 110px;
}

#find-quotes blockquote::before, #find-quotes blockquote::after {
    content: '"';
}

#find-quotes span {
    display: block;
    margin-top: 10px;
}

#find-quotes span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

#find-quotes div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#find-quotes button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

#find-quotes button:nth-child(2) {
    background: blueviolet;
}
#footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.followus {
    width: 30px;
    height: 30px;
}

#fol {
    text-align: center;
}





  
  #list {
    margin: 10px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  